<main class="main">
    <div class="container">
        <h1 class="main-header">
            Создание дохода/расхода
        </h1>
        <div class="create-category">
                <div class="create-input">
                    <input type="text" name="create" id="type" placeholder="Тип...">
                    <input type="text" name="create" id="category" placeholder="Категория...">
                    <input type="text" name="create" id="price" placeholder="Сумма в $...">
                    <input type="text" name="create" id="date" placeholder="Дата...">
                    <input type="text" name="create" id="comment" placeholder="Комментарий...">
                </div>
                <div class="category-item-action">
                    <button class="btn action-agree">Создать</button>
                    <button class="btn delete-category">Отмена</button>
                </div>
            </div>
    </div>
</main>