<section class="main">
    <div class="container">
        <h1 class="main-header">
            Доходы и расходы
        </h1>

        <div class="table">
            <div class="table-filters">
                <button class="btn filter-btn active">Сегодня</button>
                <button class="btn filter-btn">Неделя</button>
                <button class="btn filter-btn">Месяц</button>
                <button class="btn filter-btn">Год</button>
                <button class="btn filter-btn">Все</button>
                <button class="btn filter-btn">Интервал</button>
                <div class="table-filters-date">
                    с
                    <button class="btn filters-date-btn">Дата</button>
                    по
                    <button class="btn filters-date-btn">Дата</button>
                </div>
            </div>
        </div>
    </div>
</section>
